# {{ title }}

{% for col in columns %}
## {{ col.name }}

{% for card in col.cards %}
### {{ card.title }}
{% if card.due or card.tags or card.priority or card.notes or card.extra_meta or card.description %}

{% if card.due %}
  - due: {{ card.due }}
{% endif %}
{% if card.tags %}
  - tags: [{{ card.tags | join(', ') }}]
{% endif %}
{% if card.priority %}
  - priority: {{ card.priority }}
{% endif %}
{% if card.notes %}
  - notes: [{% for n in card.notes %}[{{ n }}](../notes/{{ notes_dir }}/{{ n }}.md){% if not loop.last %}, {% endif %}{% endfor %}]
{% endif %}
{% for line in card.extra_meta %}
{{ line }}
{% endfor %}
{% if card.steps %}
  - steps:
{% for step in card.steps %}
      - {{ step }}
{% endfor %}
{% endif %}
{% if card.description %}
    ```md
{{ card.description | indent(4, first=True) }}
    ```
{% endif %}

{% else %}

{% endif %}
{% endfor %}
{% endfor %}
